<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 使用log4j2打印查询语句 -->
    <settings>
        <setting name="logImpl" value="LOG4J2" />
    </settings>
</configuration>